<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obsicode💜</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/logo.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/script.js') }}" defer></script>
</head>

<body>

    <main class="boxes">
        <div class="right">
            <div class="title">
                <img src="{{ url_for('static',filename='images/icon.png') }}" alt="logo" >
                <div class="title-name">
                    <h1>OBSICODE</h1>
                    <h1>DESIGNER</h1>
                </div>
            </div>
            <div id="line"></div>
            <div class="text">
                <h3>Create your own
                QR-codes encoding
                URLs, text , anything
                you want.</h3>
                
            </div>
        </div>
        <div class="left">
        </div>
</main>
  


</body>

</html>