<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obsicode💜</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/logo.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/script.js') }}" defer></script>
</head>

<body>

    <main class="boxes">
        <div class="right">
            <div class="title">
                <img src="{{ url_for('static',filename='images/icon.png') }}" alt="logo" >
                <div class="title-name">
                    <h1>OBSICODE</h1>
                    <h1>DESIGNER</h1>
                </div>
            </div>
            <div id="line"></div>
            <div class="text">
                    <h1 id="line1">Create your own</h1>
                <h1>QR-codes encoding</h1>
                <h1>URLs, text , anything</h1>
                <h1>you want.</h1>
                
            </div>
            <div class="credits">
                <p id="myname">Made with 💘 by Aswin</p>
                <br>
                <p id="python">Powered by 🐍 Python</p>
            </div>
        </div>
        <div class="left">
            <h1 id="magic">LET'S START THE MAGIC</h1>

            <form class="feilds" , method="post">
        
                <label id="entry" for="entry">Enter Anything</label><br>
            <div id="entry-line">
                <input class="entry-feild" type="text" name="entry" value="{{initial_entry}}">
                
                <input class="entry-button" type="submit" value="Go">

            </div>
            </form>
                <br>
                <br>
                <div id="output-section">
                <img id="dna" src="{{ output_img }}" alt="DNA">

                <br>
                <br>

                    <a id="download-anchor" href="{{ output_img }}" download="QR-code">
                        <button id="download-button" type="submit">
                            <img src="{{ url_for('static',filename='images/download.svg') }}" />
                        </button>
                    </a>
                </div>
            
        </div>
</main>
  


</body>

</html>